@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #20364b;
  font-family: 'Poppins', sans-serif;
  position: relative;
  background-image: url(../images/bg.png);
  background-position: 50% 0%;
  background-size: 90%;
  background-repeat: no-repeat;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  max-width: 1750px;
  width: 100%;
  margin: 0 auto;
}

header {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  width: 100%;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container ul.nav .closeMenu {
  display: none;
}

header .container ul.nav li {
  list-style: none;
}

header .container ul.nav li.dropdown a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container ul.nav li.dropdown a:before {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: -5px;
  background-image: url(../images/arrowdown.png);
  width: 13px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

header .container ul.nav li.dropdown ul.dropdown-menu {
  position: absolute;
  background-color: #fdc11f;
  padding: 10px 20px;
  display: none;
}

header .container ul.nav li.dropdown ul.dropdown-menu li:hover {
  background: #20364b;
}

header .container ul.nav li.dropdown ul.dropdown-menu li a {
  color: #20364b;
}

header .container ul.nav li.dropdown ul.dropdown-menu li a:hover {
  color: #ffffff;
}

header .container ul.nav li.dropdown ul.dropdown-menu li a:before {
  display: none;
}

header .container ul.nav li.dropdown ul.dropdown-menu li a:after {
  display: none;
}

header .container ul.nav li.dropdown ul.dropdown-menu.show {
  display: block;
}

header .container ul.nav li#searchButton {
  width: 80px;
  height: 80px;
  padding: 10px;
  background-color: rgba(253, 193, 31, 0);
  margin-left: 20px;
  border-radius: 70px;
  cursor: pointer;
}

header .container ul.nav li#searchButton:hover {
  background-color: rgba(253, 193, 31, 0.5);
}

header .container ul.nav li#searchButton .inner {
  background-color: #fdc11f;
  padding: 20px;
  border-radius: 70px;
  width: 100%;
  height: 100%;
}

header .container ul.nav li a {
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 20px;
  font-size: 2.4rem;
  text-decoration: none;
  position: relative;
}

header .container ul.nav li a.active {
  font-weight: bold;
}

header .container ul.nav li a.active:after {
  width: 80%;
  left: 0;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

header .container ul.nav li a:hover:after {
  width: 80%;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

header .container ul.nav li a:after {
  content: '';
  display: block;
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #fdc11f;
  left: 0;
  bottom: -5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

header .container a.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container a.logo img {
  max-width: 230px;
  height: auto;
}

#searchBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#searchBox .search {
  position: relative;
  width: 500px;
}

#searchBox .search label {
  color: #ffffff;
  position: absolute;
  font-size: 2rem;
  top: -10px;
}

#searchBox .search label.d-none {
  display: none;
}

#searchBox .search input {
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  outline: none;
  color: #ffffff;
  font-size: 2rem;
}

#searchBox .search input:focus label {
  display: none;
}

#searchBox #buttonClose {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

section {
  margin-top: 50px;
}

section .container .formulario {
  max-width: 50%;
  width: 100%;
}

section .container .formulario form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

section .container .formulario form input[type=text], section .container .formulario form input[type=email] {
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 15px;
  border-radius: 50px;
  margin-top: 30px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  font-size: 2rem;
  font-weight: light;
  width: 50%;
}

section .container .formulario form input[type=text]::-webkit-input-placeholder, section .container .formulario form input[type=email]::-webkit-input-placeholder {
  color: #7b7b7b;
  font-size: 2rem;
}

section .container .formulario form input[type=text]:-ms-input-placeholder, section .container .formulario form input[type=email]:-ms-input-placeholder {
  color: #7b7b7b;
  font-size: 2rem;
}

section .container .formulario form input[type=text]::-ms-input-placeholder, section .container .formulario form input[type=email]::-ms-input-placeholder {
  color: #7b7b7b;
  font-size: 2rem;
}

section .container .formulario form input[type=text]::placeholder, section .container .formulario form input[type=email]::placeholder {
  color: #7b7b7b;
  font-size: 2rem;
}

section .container .formulario form button {
  padding: 20px 60px;
  background-color: #fdc11f;
  border-radius: 30px;
  color: #20364b;
  margin-top: 30px;
  font-size: 2rem;
  font-weight: normal;
  position: relative;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

section .container .formulario form button:after {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url("../images/send.png");
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  vertical-align: middle;
}

section .container .formulario p {
  color: #ffffff;
  font-size: 1.7rem;
  line-height: 3rem;
  margin-top: 20px;
}

section .container .formulario h2 {
  font-size: 8.2rem;
  color: #ffffff;
  line-height: 9rem;
}

section .container .formulario h2 span {
  display: block;
  color: #fdc11f;
  font-size: 8.4rem;
}
/*# sourceMappingURL=main.css.map */